* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
body {
    font-family: 'Arial', sans-serif;
    background-color: #521414;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
.calculator {
    background-color: #862525;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 320px;
    text-align: center;
    border: 5px solid rgb(58, 18, 18); 
}
 
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(59, 10, 10);
}
 

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
 
.item {
    background-color: #da7070;
    color: rgb(70, 22, 22);
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 2px solid rgb(58, 18, 18);
}
 
.item:hover {
    background-color: #c93f3f;
    transform: translateY(-4px);
}

 
.display {
    background-color: #e7dada;
    border: 2px solid rgb(58, 18, 18);
    color: rgb(0, 0, 0);
    font-size: 2em;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#igual{
    background-color: #491515;
    color: rgb(224, 112, 112);
    
}